signing_values.local
.DS_Store
release*/
*.p8
Good-Robot/core/
buildbot/buildmaster/http.log*
buildbot/buildmaster/state.sqlite
twistd.*
/buildbot/workdirs
/buildbot/buildmaster/projects/__pycache__
/buildbot/buildmaster/secrets
/RBDOOM-3-BFG/data
/uqm/dist-packages
